/* Color Palette */

/*Primary Colors */

:root {
    --black: #000000;
    --spider-green: #00D4A4;
    --white: #FFF;
  }

/* Secondary Colors */

:root {
    --violet: #440099;
    --pink: #B146C2;
    --yellow: #FFD300;
    --light-brown: #F4F0EB;
    --gray: #444444;
    --light-gray: #F6F6F6;
  }