/* Color Palette */

/*Primary Colors */

@black: "#000000";
@green: "#00D4A4";
@white: "#FFFFFF";

/* Secondary Colors */

@violet: "#440099";
@pink: "#B146C2";
@yellow: "#FFD300";
@lightbrown: "#F4F0EB";
@gray: "#444444";
@lightgray: "#F6F6F6";
