/* Spider Labs - Color Palette */

/* Primary */

@spider-green: #00D4A4;
@black: #000000;
@white: #FFFFFF;

/* Secondary */

@light-brown: #F4F0EB;
@light-gray: #F6F6F6;
@violet: #440099;
@yellow: #FFD300;
@pink: #B146C2;
@gray: #444444;

/* Settings */

@big-space: 120px;
@l-spacing: 90px;
@m-spacing: 60px;
@s-spacing: 30px;
@xs-spacing: 15px;