/* Spider Labs - Headings & Text */

/* Archivo Google Font Import */

@import url('https://fonts.googleapis.com/css?family=Archivo:400,400i,500,500i,600,600i,700,700i&display=swap');

/* Body & HTML */

body, html {
    font-family: 'Archivo', sans-serif;
}

.font-size(@sizeValue) {
    @remValue: @sizeValue;
    @pxValue: (@sizeValue * 10);
    font-size: ~"@{pxValue}px"; 
    font-size: ~"@{remValue}rem";
  }

/* Headings & Titles */

.heading-xl {
    font-style: normal;
    font-weight: 700;
    .font-size(8.4);
    line-height: 92px;
}

.heading-l {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 52px;
}
