/* Spider Labs - Headings & Text */
/* Spider Labs - Settings */
/* -------------------------- Color Palette (Primary) -------------------------- */
/* -------------------------- Color Palette (Secondary) -------------------------- */
/* -------------------------- Color Palette (Opacity Tints) -------------------------- */
/* -------------------------- Spacings and Margins -------------------------- */
/* -------------------------- Margin Top -------------------------- */
.mtop-120 {
  margin-top: 120px;
}
.mtop-90 {
  margin-top: 90px;
}
.mtop-60 {
  margin-top: 60px;
}
.mtop-30 {
  margin-top: 30px !important;
}
/* -------------------------- Margin Bottom -------------------------- */
.mbottom-120 {
  margin-bottom: 120px;
}
.mbottom-90 {
  margin-bottom: 90px;
}
.mbottom-60 {
  margin-bottom: 60px;
}
.mbottom-30 {
  margin-bottom: 30px;
}
/* -------------------------- Margin Right -------------------------- */
.mright-120 {
  margin-right: 120px;
}
.mright-90 {
  margin-right: 90px;
}
.mright-60 {
  margin-right: 60px;
}
.mright-30 {
  margin-right: 30px;
}
/* -------------------------- Margin Left -------------------------- */
.mleft-120 {
  margin-left: 120px;
}
.mleft-90 {
  margin-left: 90px;
}
.mleft-60 {
  margin-left: 60px;
}
.mleft-30 {
  margin-left: 30px;
}
/* -------------------------- Floats & Overflows -------------------------- */
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.ov-hidden {
  overflow: hidden;
}
/* -------------------------- Background Colors -------------------------- */
body,
.card,
select,
.header-site,
.jobs-listing {
  background-color: #FFFFFF;
}
.clients,
.form-box,
.resources,
.perks-card,
.office-card {
  background-color: #F4F0EB;
}
.badge,
.primary-btn {
  background-color: #00D4A4;
}
.primary-black-btn {
  background-color: #000000;
}
/* -------------------------- Text Colors -------------------------- */
.black,
.nav-item,
.intro-txt,
.green-link,
.nav-item a,
ul.c-profile,
.heading-xs a,
.main-banner h1,
.about-us div h2,
.resources div h2,
a.read-btn:hover,
a.apply-btn:hover {
  color: #000000;
}
a,
.green,
a.read-btn,
a.apply-btn,
.green-link:hover,
.nav-item a:hover,
.heading-xs a:hover,
.main-banner h1 span,
ul.nav-item li.nav-selected {
  color: #00D4A4;
}
.gray,
a:hover,
.footer-nav ul li a:hover {
  color: #444444;
}
label,
.gray2,
select,
.sub-header,
.textfield,
.helper-txt,
input::placeholder,
.media .page-intro p,
textarea::placeholder,
ul.c-profile li span,
option:first-of-type {
  color: #969696;
}
.badge,
.page-intro,
.page-intro p,
ul.lang-nav,
.footer-nav ul li,
.lang-container h5,
.footer-nav ul li a,
.footer-nav .credits {
  color: #FFFFFF;
}
/* -------------------------- Transitions & Effects -------------------------- */
a.read-btn::after,
a.apply-btn::after {
  transition: padding 0.15s ease-out;
}
input,
select,
textarea {
  transition: border 0.3s ease-out, color 0.3s ease-out, box-shadow 0.3s ease-out;
}
.card,
.primary-btn,
a.outline-btn,
.primary-black-btn {
  transition: box-shadow 0.3s ease-out;
}
a,
.green-link,
.nav-item a,
a.read-btn,
a.apply.btn,
.heading-xs a,
.footer-nav ul li a {
  transition: color 0.15s ease-out;
}
.card:hover,
input:focus,
select:focus,
textarea:focus,
.primary-btn:hover,
a.outline-btn:hover,
.primary-black-btn:hover {
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
}
/* -------------------------- Media Query for Mobile -------------------------- */
@media only screen and (max-width: 480px) {
  .mtop-90 {
    margin-top: calc(60px - 20px);
  }
}
/* -------------------------- Archivo Google Font Import -------------------------- */
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Archivo Italic'), local('Archivo-Italic'), url(https://fonts.gstatic.com/s/archivo/v6/k3kSo8UDI-1M0wlSfdzYLGHB.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Archivo Medium Italic'), local('Archivo-MediumItalic'), url(https://fonts.gstatic.com/s/archivo/v6/k3kXo8UDI-1M0wlSfdzQ30LRLoKN.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Archivo SemiBold Italic'), local('Archivo-SemiBoldItalic'), url(https://fonts.gstatic.com/s/archivo/v6/k3kXo8UDI-1M0wlSfdzQ80XRLoKN.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Archivo Bold Italic'), local('Archivo-BoldItalic'), url(https://fonts.gstatic.com/s/archivo/v6/k3kXo8UDI-1M0wlSfdzQl0TRLoKN.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Archivo Regular'), local('Archivo-Regular'), url(https://fonts.gstatic.com/s/archivo/v6/k3kQo8UDI-1M0wlSfdnoKw.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Archivo Medium'), local('Archivo-Medium'), url(https://fonts.gstatic.com/s/archivo/v6/k3kVo8UDI-1M0wlSdSrLO0bhKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Archivo SemiBold'), local('Archivo-SemiBold'), url(https://fonts.gstatic.com/s/archivo/v6/k3kVo8UDI-1M0wlSdQbMO0bhKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Archivo Bold'), local('Archivo-Bold'), url(https://fonts.gstatic.com/s/archivo/v6/k3kVo8UDI-1M0wlSdWLNO0bhKQ.ttf) format('truetype');
}
/* -------------------------- PX to REM -------------------------- */
html,
body {
  font-family: 'Archivo', sans-serif !important;
  font-weight: 400;
  /* Regular */
  font-style: normal;
}
/* -------------------------- Headings & Titles -------------------------- */
.heading-xl {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 700;
  /* Bold */
  font-size: 52.5px;
  font-size: 5.25rem;
  line-height: 92px;
}
.heading-l {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 500;
  /* Medium */
  font-size: 26.5px;
  font-size: 2.65rem;
  line-height: 52px;
}
.heading-m {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 500;
  /* Medium */
  font-size: 20px;
  font-size: 2rem;
  line-height: 42px;
}
.heading-s {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 700;
  /* Bold */
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 42px;
}
.heading-xs,
.heading-xs a {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 12.5px;
  font-size: 1.25rem;
  line-height: 28px;
}
/* -------------------------- Body, Buttons and Links -------------------------- */
.sub-header {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 17.5px;
  font-size: 1.75rem;
  line-height: 52px;
}
.intro-txt {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 12.5px;
  font-size: 1.25rem;
  line-height: 32px;
}
.medium-txt {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 11.25px;
  font-size: 1.125rem;
  line-height: 32px;
}
select {
  line-height: 18px !important;
}
input,
select,
.footer,
textarea,
.body-txt,
input:hover,
input:focus,
input:enabled,
input:visited,
input::selection {
  font-family: 'Archivo', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 10px !important;
  font-size: 1rem !important;
  line-height: 28px;
}
.nav-item,
.nav-item a {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  font-size: 1rem;
}
.body-bold {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 700;
  /* Bold */
  font-size: 10px;
  font-size: 1rem;
  line-height: 28px;
}
.button-txt {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 700;
  /* Bold */
  font-size: 11.25px;
  font-size: 1.125rem;
}
label,
.badge,
.helper-txt {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 7.5px;
  font-size: 0.75rem;
  line-height: 18px;
  letter-spacing: 0.32px;
}
/* -------------------------- Text Alignment and Decoration -------------------------- */
::selection {
  background-color: #00D4A4;
  color: white;
}
.button,
.intro-p,
.offices h3,
.main-banner,
#slabs-info p,
.page-intro,
.c-values h2,
.footer-nav ul,
.clients div h2,
.about-us div h2,
.contacts div h2,
.resources div h2,
.footer-nav .credits,
.cv-banner div .txt-wrapper {
  text-align: center;
}
.textfield,
ul.c-profile,
.txt-block h2,
.perks-card h2,
.our-mission > h2,
.main-banner form {
  text-align: left !important;
}
a:hover,
a.outline-btn,
.heading-xs a,
.nav-item a,
a.read-btn,
a.apply-btn,
.green-link,
.footer-nav ul li a:hover {
  text-decoration: none;
}
.badge,
.listing-headers {
  text-transform: uppercase;
}
/* Media Queries for Responsive */
/* -------------------------- Media Query for Mobile -------------------------- */
@media only screen and (max-width: 480px) {
  .heading-xl {
    font-size: 26.5px;
    font-size: 2.65rem;
    line-height: 52px;
  }
  .heading-l {
    font-size: 20px;
    font-size: 2rem;
    line-height: 42px;
  }
  .heading-m {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 32px;
  }
  .sub-header {
    font-size: 12.5px;
    font-size: 1.25rem;
    line-height: 32px;
  }
  ul.awards li h4,
  .intro-txt {
    font-size: 10px;
    font-size: 1rem;
    line-height: 32px;
  }
  .footer,
  .lang-wrapper {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 400;
    /* Regular */
    font-size: 8.75px !important;
    font-size: 0.875rem !important;
    line-height: 18px;
    letter-spacing: 0.32px;
  }
  .lets-talk,
  .perks-card,
  .perks-card h2,
  .about-us h3,
  .inner-office,
  .txt-block h2,
  ul.lang-nav li,
  .security-txt h2,
  .lang-container h5,
  .careers-banner div .txt-wrapper {
    text-align: center !important;
  }
}
