/* Spider Labs - Headings & Text */

@import url("settings.less");

/* -------------------------- Archivo Google Font Import -------------------------- */

@import url('https://fonts.googleapis.com/css?family=Archivo:400,400i,500,500i,600,600i,700,700i&display=swap');


/* -------------------------- PX to REM -------------------------- */

.font-size(@sizeValue) {
    @remValue: @sizeValue;
    @pxValue: (@sizeValue * 10);
    font-size: ~"@{pxValue}px"; 
    font-size: ~"@{remValue}rem";
  }

  html,
  body {
    font-family: 'Archivo', sans-serif !important;
    font-weight: 400; /* Regular */
    font-style: normal;
  }

  
/* -------------------------- Headings & Titles -------------------------- */

.heading-xl {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 700; /* Bold */
    .font-size(5.25);
    line-height: 92px;
}

.heading-l {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 500; /* Medium */
    .font-size(2.65);
    line-height: 52px;
}

.heading-m {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 700; /* Bold */
    .font-size(2);
    line-height: 42px;
}

.heading-s {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 700; /* Bold */
    .font-size(1.5);
    line-height: 42px;
}

.heading-xs,
.heading-xs a
{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 400; /* Regular */
    .font-size(1.25);
    line-height: 28px;
}


/* -------------------------- Body, Buttons and Links -------------------------- */

.sub-header {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 400; /* Regular */
    .font-size(1.75);
    line-height: 52px;
}

.intro-txt {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 400; /* Regular */
    .font-size(1.25);
    line-height: 32px;
}

.medium-txt {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 400; /* Regular */
    .font-size(1.125);
    line-height: 32px;
}

select {
    line-height: 18px !important;
}

input,
select,
.footer,
textarea,
.body-txt,
input:hover,
input:focus,
input:enabled,
input:visited,
input::selection
{
    font-family: 'Archivo', sans-serif !important;
    font-style: normal;
    font-weight: 400; /* Regular */
    .font-size(1) !important;
    line-height: 28px;
}

.nav-item,
.nav-item a
{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 600;
    .font-size(1);
}

.body-bold {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 700; /* Bold */
    .font-size(1);
    line-height: 28px;
}

.button-txt,
.outline-btn
{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 700; /* Bold */
    .font-size(1.125);
}

label,
.badge,
.helper-txt
{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 400; /* Regular */
    .font-size(0.75);
    line-height: 18px;
    letter-spacing: 0.32px;
}

.bold {
    font-weight: 700 !important; /* Bold */
}


/* -------------------------- Text Alignment and Decoration -------------------------- */

::selection {
    background-color: @spider-green;
    color: white;
}

.button,
.intro-p,
.offices h3,
.main-banner,
#slabs-info p,
.page-intro,
.c-values h2,
.footer-nav ul,
.clients div h2,
.about-us div h2,
.contacts div h2,
.resources div h2,
.footer-nav .credits,
.cv-banner div .txt-wrapper
{
    text-align: center;
}

.textfield,
ul.c-profile,
.txt-block h2,
.perks-card h2,
.our-mission > h2,
.main-banner form
{
    text-align: left !important;
}

a:hover,
a.read-btn,
a.apply-btn,
.nav-item a,
.green-link,
a.text-line,
a.outline-btn,
.heading-xs a,
.primary-red-btn,
.footer-nav ul li a:hover
{
    text-decoration: none;
}

.badge,
.listing-headers
{
    text-transform: uppercase;
}


/* Media Queries for Responsive */


/* -------------------------- Media Query for Mobile -------------------------- */

@media only screen and (max-width: 480px) {

    .heading-xl {
        .font-size(2.65);
        line-height: 52px;
    }

    .heading-l {
        .font-size(2);
        line-height: 42px;
    }

    .heading-m {
        .font-size(1.5);
        line-height: 32px;
    }

    .sub-header {
        .font-size(1.25);
        line-height: 32px;
    }

    ul.awards li h4,
    .intro-txt
    {
        .font-size(1);
        line-height: 32px;
    }

    .footer,
    .lang-wrapper
    {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 400; /* Regular */
    .font-size(0.875) !important;
    line-height: 18px;
    letter-spacing: 0.32px;
    }

    .lets-talk,
    .perks-card,
    .perks-card h2,
    .about-us h3,
    .inner-office,
    .txt-block h2,
    ul.lang-nav li,
    .security-txt h2,
    .lang-container h5,
    .careers-banner div .txt-wrapper
    {
        text-align: center !important;
    }
}
