/* Spider Labs - Headings & Text */
/* -------------------------- Archivo Google Font Import -------------------------- */
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Archivo Italic'), local('Archivo-Italic'), url(https://fonts.gstatic.com/s/archivo/v6/k3kSo8UDI-1M0wlSfdzYLGHB.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Archivo Medium Italic'), local('Archivo-MediumItalic'), url(https://fonts.gstatic.com/s/archivo/v6/k3kXo8UDI-1M0wlSfdzQ30LRLoKN.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Archivo SemiBold Italic'), local('Archivo-SemiBoldItalic'), url(https://fonts.gstatic.com/s/archivo/v6/k3kXo8UDI-1M0wlSfdzQ80XRLoKN.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Archivo Bold Italic'), local('Archivo-BoldItalic'), url(https://fonts.gstatic.com/s/archivo/v6/k3kXo8UDI-1M0wlSfdzQl0TRLoKN.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Archivo Regular'), local('Archivo-Regular'), url(https://fonts.gstatic.com/s/archivo/v6/k3kQo8UDI-1M0wlSfdnoKw.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Archivo Medium'), local('Archivo-Medium'), url(https://fonts.gstatic.com/s/archivo/v6/k3kVo8UDI-1M0wlSdSrLO0bhKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Archivo SemiBold'), local('Archivo-SemiBold'), url(https://fonts.gstatic.com/s/archivo/v6/k3kVo8UDI-1M0wlSdQbMO0bhKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Archivo Bold'), local('Archivo-Bold'), url(https://fonts.gstatic.com/s/archivo/v6/k3kVo8UDI-1M0wlSdWLNO0bhKQ.ttf) format('truetype');
}
/* -------------------------- PX to REM -------------------------- */
html,
body {
  font-family: 'Archivo', sans-serif !important;
  font-weight: 400;
  /* Regular */
  font-style: normal;
}
/* -------------------------- Headings & Titles -------------------------- */
.heading-xl {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 700;
  /* Bold */
  font-size: 52.5px;
  font-size: 5.25rem;
  line-height: 92px;
}
.heading-l {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 500;
  /* Medium */
  font-size: 26.5px;
  font-size: 2.65rem;
  line-height: 52px;
}
.heading-m {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 500;
  /* Medium */
  font-size: 20px;
  font-size: 2rem;
  line-height: 42px;
}
.heading-s {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 700;
  /* Bold */
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 42px;
}
.heading-xs,
.heading-xs a {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 12.5px;
  font-size: 1.25rem;
  line-height: 28px;
}
/* -------------------------- Body, Buttons and Links -------------------------- */
.sub-header {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 17.5px;
  font-size: 1.75rem;
  line-height: 52px;
}
.intro-txt {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 12.5px;
  font-size: 1.25rem;
  line-height: 32px;
}
.medium-txt {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 11.25px;
  font-size: 1.125rem;
  line-height: 32px;
}
input,
input:hover,
input:focus,
input:enabled,
input:visited,
input::selection,
.body-txt {
  font-family: 'Archivo', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 10px !important;
  font-size: 1rem !important;
  line-height: 28px;
}
.nav-item,
.nav-item a {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  font-size: 1rem;
}
.body-bold {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 700;
  /* Bold */
  font-size: 10px;
  font-size: 1rem;
  line-height: 28px;
}
.button-txt {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 700;
  /* Bold */
  font-size: 11.25px;
  font-size: 1.125rem;
}
.badge,
.helper-txt {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 7.5px;
  font-size: 0.75rem;
  line-height: 18px;
  letter-spacing: 0.32px;
}
/* -------------------------- Text Alignment and Decoration -------------------------- */
.button,
.intro-p,
.offices h3,
.main-banner,
.clients div h2,
.about-us div h2,
.contacts div h2,
.resources div h2 {
  text-align: center;
}
.textfield,
.helper-txt,
ul.c-profile,
.main-banner form {
  text-align: left;
}
a.outline-btn,
.heading-xs a,
.nav-item a,
a.read-btn {
  text-decoration: none;
}
.badge {
  text-transform: uppercase;
}
/* Media Queries for Responsive */
/* -------------------------- Media Query for Mobile -------------------------- */
@media only screen and (max-width: 480px) {
  .heading-xl {
    font-size: 26.5px;
    font-size: 2.65rem;
    line-height: 52px;
  }
  .heading-l {
    font-size: 20px;
    font-size: 2rem;
    line-height: 42px;
  }
  .heading-m {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 32px;
  }
  .sub-header {
    font-size: 12.5px;
    font-size: 1.25rem;
    line-height: 32px;
  }
  .intro-txt {
    font-size: 10px;
    font-size: 1rem;
    line-height: 32px;
  }
}
