/* Spider Labs - Form Fields and Buttons */

@import url("settings.less");


/* -------------------------- Inputs -------------------------- */

#slabs-info input {
  width: 350px;
}

#security-info input {
  width: 320px;
}

input,
select
{
    height: 50px;
}

input,
select,
textarea
{
    box-sizing: border-box;
    border: 1px solid @gray2;
    border-radius: 4px;
    padding: 15px;
}

input:hover,
select:hover,
textarea:hover
{
    border: 1px solid @gray;
}

input:focus,
select:focus,
textarea:focus
{
    border: 1px solid @black;
    color: @black;
}

input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus
{
    outline-width: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 15px;
  line-height: 50px;
}

select {
  padding-right: 15px;
  -webkit-appearance: none;
  background-position-x: 95%;
  background: url("../imgs/chevron.svg") no-repeat right;
}


/* -------------------------- Buttons & Links -------------------------- */

.primary-btn {
    height: 50px;
    color: white;
    padding: 0 20px 0 20px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    border: none;
    color: @white;
    text-align: center;
    cursor: pointer;
    margin-left: 26px;
  }

.primary-black-btn {
    height: 50px;
    padding: 0 20px 0 20px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    border: none;
    color: @white;
    text-align: center;
    cursor: pointer;
    margin-left: 26px;
  }

  a.read-btn::after,
  a.apply-btn::after
  {
    content: url(../imgs/arrow.svg);
    padding-left: 8px;
}

a.read-btn:hover::after,
a.apply-btn:hover::after
{
    content: url(../imgs/arrow_black.svg);
    padding-left: 14px;
}

a.outline-btn {
  padding: 0 20px 0 20px;
  border: 1px solid @spider-green;
  border-radius: 8px;
  background-color: white;
  color: @spider-green;
  height: 50px;
  line-height: 50px;
  display: table;
}

a.outline-btn::before {
  content: url(../imgs/chat_icon.svg);
  padding-right: 10px;
}

a.primary-black-btn {
  line-height: 50px;
  margin: 60px auto 0 auto;
}

.offices a.primary-black-btn {
  line-height: 50px;
}

.form-wrapper .primary-btn {
  width: 100%;
  margin-left: 0;
  margin-top: @s-spacing;
}


/* -------------------------- Contact Form -------------------------- */

.field-wrapper input, 
.field-wrapper select,
.field-wrapper textarea
{
  width: 100%;
  margin-top: 5px;
}

.field-wrapper textarea {
  height: 104px;
  margin-top: 5px;
}


/* -------------------------- Media Query for Mobile -------------------------- */

@media only screen and (max-width: 480px) {

  #slabs-info input,
  #security-info input
  {
    width: 100%;
  }

  .primary-btn,
  #security-info .primary-black-btn
  {
    width: 100%;
    margin-left: 0;
    margin-top: @xs-spacing;
  }

  .lets-talk a.outline-btn {
    margin: 0 auto;
  }

}