/* Spider Labs - Form Fields and Buttons */
/* Spider Labs - Settings */
/* -------------------------- Color Palette (Primary) -------------------------- */
/* -------------------------- Color Palette (Secondary) -------------------------- */
/* -------------------------- Color Palette (Opacity Tints) -------------------------- */
/* -------------------------- Spacings and Margins -------------------------- */
/* -------------------------- Margin Top -------------------------- */
.mtop-120 {
  margin-top: 120px;
}
.mtop-90 {
  margin-top: 90px;
}
.mtop-60 {
  margin-top: 60px;
}
.mtop-30 {
  margin-top: 30px !important;
}
/* -------------------------- Margin Bottom -------------------------- */
.mbottom-120 {
  margin-bottom: 120px;
}
.mbottom-90 {
  margin-bottom: 90px;
}
.mbottom-60 {
  margin-bottom: 60px;
}
.mbottom-30 {
  margin-bottom: 30px;
}
/* -------------------------- Margin Right -------------------------- */
.mright-120 {
  margin-right: 120px;
}
.mright-90 {
  margin-right: 90px;
}
.mright-60 {
  margin-right: 60px;
}
.mright-30 {
  margin-right: 30px;
}
/* -------------------------- Margin Left -------------------------- */
.mleft-120 {
  margin-left: 120px;
}
.mleft-90 {
  margin-left: 90px;
}
.mleft-60 {
  margin-left: 60px;
}
.mleft-30 {
  margin-left: 30px;
}
/* -------------------------- Floats & Overflows -------------------------- */
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.ov-hidden {
  overflow: hidden;
}
/* -------------------------- Background Colors -------------------------- */
body,
.card,
select,
.header-site {
  background-color: #FFFFFF;
}
.clients,
.form-box,
.resources,
.office-card {
  background-color: #F4F0EB;
}
.badge,
.primary-btn {
  background-color: #00D4A4;
}
.primary-black-btn {
  background-color: #000000;
}
/* -------------------------- Text Colors -------------------------- */
.black,
.nav-item,
.intro-txt,
.nav-item a,
ul.c-profile,
.heading-xs a,
.main-banner h1,
.about-us div h2,
.resources div h2,
a.read-btn:hover {
  color: #000000;
}
.green,
a.read-btn,
.nav-item a:hover,
.heading-xs a:hover,
.main-banner h1 span {
  color: #00D4A4;
}
.gray {
  color: #444444;
}
label,
.gray2,
select,
.sub-header,
.textfield,
.helper-txt,
input::placeholder,
textarea::placeholder,
ul.c-profile li span,
option:first-of-type {
  color: #969696;
}
.badge {
  color: #FFFFFF;
}
/* -------------------------- Transitions & Effects -------------------------- */
a.read-btn::after {
  transition: padding 0.15s ease-out;
}
input,
select,
textarea {
  transition: border 0.3s ease-out, color 0.3s ease-out, box-shadow 0.3s ease-out;
}
.card,
.primary-btn,
a.outline-btn,
.primary-black-btn {
  transition: box-shadow 0.3s ease-out;
}
.nav-item a,
a.read-btn,
.heading-xs a {
  transition: color 0.15s ease-out;
}
.card:hover,
input:focus,
select:focus,
textarea:focus,
.primary-btn:hover,
a.outline-btn:hover,
.primary-black-btn:hover {
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
}
/* -------------------------- Inputs -------------------------- */
#slabs-info input {
  width: 350px;
}
#security-info input {
  width: 320px;
}
input,
select {
  height: 50px;
}
input,
select,
textarea {
  box-sizing: border-box;
  border: 1px solid #969696;
  border-radius: 4px;
  padding: 15px;
}
input:hover,
select:hover,
textarea:hover {
  border: 1px solid #444444;
}
input:focus,
select:focus,
textarea:focus {
  border: 1px solid #000000;
  color: #000000;
}
input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
  outline-width: 0;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 15px;
  line-height: 50px;
}
select {
  padding-right: 15px;
  -webkit-appearance: none;
  background-position-x: 95%;
  background: url("../imgs/chevron.svg") no-repeat right;
}
/* -------------------------- Buttons & Links -------------------------- */
.primary-btn {
  height: 50px;
  color: white;
  padding: 0 20px 0 20px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  border: none;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  margin-left: 26px;
}
.primary-black-btn {
  height: 50px;
  padding: 0 20px 0 20px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  border: none;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  margin-left: 26px;
}
a.read-btn::after {
  content: url(../imgs/arrow.svg);
  padding-left: 8px;
}
a.read-btn:hover::after {
  content: url(../imgs/arrow_black.svg);
  padding-left: 14px;
}
a.outline-btn {
  padding: 0 20px 0 20px;
  border: 1px solid #00D4A4;
  border-radius: 8px;
  background-color: white;
  color: #00D4A4;
  height: 50px;
  line-height: 50px;
  display: table;
}
a.outline-btn::before {
  content: url(../imgs/chat_icon.svg);
  padding-right: 10px;
}
a.primary-black-btn {
  line-height: 50px;
  margin: 60px auto 0 auto;
}
.offices a.primary-black-btn {
  line-height: 50px;
}
.form-wrapper .primary-btn {
  width: 100%;
  margin-left: 0;
  margin-top: 30px;
}
/* -------------------------- Contact Form -------------------------- */
.field-wrapper input,
.field-wrapper select,
.field-wrapper textarea {
  width: 100%;
  margin-top: 5px;
}
.field-wrapper textarea {
  height: 104px;
  margin-top: 5px;
}
/* -------------------------- Media Query for Mobile -------------------------- */
@media only screen and (max-width: 480px) {
  #slabs-info input {
    width: 100%;
  }
  .primary-btn {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
  }
}
