/* Spider Labs - Form Fields and Buttons */

@import url("settings.less");


/* -------------------------- Inputs -------------------------- */

#slabs-info input {
  width: 350px;
}

#security-info input {
  width: 320px;
}


input {
    height: 50px;
    box-sizing: border-box;
    border: 1px solid @gray2;
    border-radius: 8px;
    padding: 15px;
}

input:hover
{
    border: 1px solid @gray;
    color: @gray;
}

input:focus
{
    border: 1px solid @black;
    color: @black;
}

input:hover,
input:focus
{
    outline-width: 0;
}


/* -------------------------- Buttons & Links -------------------------- */

.primary-btn {
    height: 50px;
    color: white;
    padding: 0 20px 0 20px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    border: none;
    color: @white;
    text-align: center;
    cursor: pointer;
    margin-left: 26px;
  }

.primary-black-btn {
    height: 50px;
    padding: 0 20px 0 20px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    border: none;
    color: @white;
    text-align: center;
    cursor: pointer;
    margin-left: 26px;
  }

  a.read-btn::after {
    content: url(../imgs/arrow.svg);
    padding-left: 8px;
}

a.read-btn:hover::after {
    content: url(../imgs/arrow_black.svg);
    padding-left: 14px;
}

a.outline-btn {
  padding: 0 20px 0 20px;
  border: 1px solid @spider-green;
  border-radius: 8px;
  background-color: white;
  color: @spider-green;
  height: 50px;
  line-height: 50px;
  display: table;
}

a.outline-btn::before {
  content: url(../imgs/chat_icon.svg);
  padding-right: 10px;
}

a.primary-black-btn {
  line-height: 50px;
  margin: 60px auto 0 auto;
}

.offices a.primary-black-btn {
  line-height: 50px;
}


/* -------------------------- Media Query for Mobile -------------------------- */

@media only screen and (max-width: 480px) {

  #slabs-info input {
    width: 100%;
  }

  .primary-btn {
    width: 100%;
    margin-left: 0;
    margin-top: @xs-spacing;
  }

}