/* Spider Labs - Settings */


/* -------------------------- Color Palette (Primary) -------------------------- */

@spider-green: #00D4A4;
@gray: #3C3B40;
@white: #FFFFFF;


/* -------------------------- Color Palette (Secondary) -------------------------- */

@pink: #FF7F8D;
/*@gray: #444444;*/
@gray2 : #969696;
@yellow: #FFD300;
@violet: #440099;
@light-gray: #F6F6F6;
@light-brown: #F4F0EB;
@red: #F0595D;


/* -------------------------- Color Palette (Opacity Tints) -------------------------- */

@violet10: rgba(68,0,153,0.1);
@violet30: rgba(68,0,153,0.3);
@s-green30: rgba(0,212,165,0.3);
@pink15: rgba(255,127,141,0.15);
@red10: rgba(240,89,93,0.1);
@red30: rgba(240,89,93,0.3);

/* -------------------------- Spacings and Margins -------------------------- */

@xl-spacing: 120px;
@l-spacing: 90px;
@m-spacing: 60px;
@s-spacing: 30px;
@xs-spacing: 15px;


/* -------------------------- Margin Top -------------------------- */

.mtop-120 {
    margin-top: @xl-spacing;
}

.mtop-90 {
    margin-top: @l-spacing;
}

.mtop-60 {
    margin-top: @m-spacing;
}

.mtop-30 {
    margin-top: @s-spacing !important;
}


/* -------------------------- Margin Bottom -------------------------- */

.mbottom-120 {
    margin-bottom: @xl-spacing;
}

.mbottom-90 {
    margin-bottom: @l-spacing;
}

.mbottom-60 {
    margin-bottom: @m-spacing;
}

.mbottom-30 {
    margin-bottom: @s-spacing;
}


/* -------------------------- Margin Right -------------------------- */

.mright-120 {
    margin-right: @xl-spacing;
}

.mright-90 {
    margin-right: @l-spacing;
}

.mright-60 {
    margin-right: @m-spacing;
}

.mright-30 {
    margin-right: @s-spacing;
}


/* -------------------------- Margin Left -------------------------- */

.mleft-120 {
    margin-left: @xl-spacing;
}

.mleft-90 {
    margin-left: @l-spacing;
}

.mleft-60 {
    margin-left: @m-spacing;
}

.mleft-30 {
    margin-left: @s-spacing;
}


/* -------------------------- Floats & Overflows -------------------------- */

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.ov-hidden {
    overflow: hidden;
}


/* -------------------------- Background Colors -------------------------- */

body,
.card,
select,
.header-site,
.jobs-listing
{
    background-color: @white;
}

.clients,
.form-box,
.resources,
.perks-card,
.guidelines,
.office-card
{
    background-color: @light-brown;
}

.badge,
.primary-btn
{
    background-color: @spider-green;
}

.primary-red-btn {
    background-color: @red;
}

.primary-black-btn {
    background-color: @gray;
}

#header .nav-wrap ul li a.careers-btn {
    background-color: @yellow;
}


/* -------------------------- Text Colors -------------------------- */

.gray,
.nav-item,
.intro-txt,
a.text-line,
.green-link,
.nav-item a,
ul.c-profile,
.heading-xs a,
.cv-banner p a,
.main-banner h1,
.about-us div h2,
.resources div h2,
a.read-btn:hover,
a.apply-btn:hover,
.intro-txt a:hover,
#header .nav-wrap ul li a.careers-btn
{
    color: @gray;
}

a,
.green,
a.read-btn,
a.apply-btn,
.intro-txt a,
.green-link:hover,
.nav-item a:hover,
.heading-xs a:hover,
.main-banner h1 span,
ul.nav-item li.nav-selected,
.nav-item ul li .selected
{
    color: @spider-green;
}

.outline-btn {
    color: @red !important;
}

label,
.gray2,
select,
.a:hover,
.sub-header,
.textfield,
.helper-txt,
input::placeholder,
option:first-of-type,
.media .page-intro p,
ul.c-profile li span,
textarea::placeholder,
.lang-nav ul li a:hover,
.footer-nav ul li a:hover,
.lang-wrapper ul.lang-nav li a:hover
{
    color: @gray2;
}

.badge,
.page-intro,
.page-intro p,
.button-txt:hover,
ul.lang-nav,
.footer-nav ul li,
.lang-container h5,
.footer-nav ul li a,
.footer-nav .credits,
.primary-red-btn,
.lang-wrapper ul.lang-nav li a
{
    color: @white;
}

.cv-banner p a:hover {
    color: @violet;
}


/* -------------------------- Transitions & Effects -------------------------- */

a.read-btn::after,
a.apply-btn::after
{
    transition: padding .15s ease-out;
}

input,
select,
textarea
{
    transition: border .3s ease-out, color .3s ease-out, box-shadow .3s ease-out;
}

.card,
.yellow-btn,
.primary-btn,
a.outline-btn,
.primary-red-btn,
.primary-black-btn,
#header .nav-wrap ul li a.careers-btn
{
    transition: box-shadow .3s ease-out;
}

a,
.green-link,
.nav-item a,
a.read-btn,
a.apply.btn,
.heading-xs a,
.cv-banner p a,
.footer-nav ul li a,
.lang-wrapper ul.lang-nav li a
{
    transition: color .15s ease-out;
}

.yellow-btn,
.card:hover,
input:focus,
select:focus,
.guidelines img,
textarea:focus,
.primary-btn:hover,
a.outline-btn:hover,
.primary-red-btn:hover,
.primary-black-btn:hover,
#header .nav-wrap ul li a.careers-btn:hover
{
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
}


/* -------------------------- Media Query for Mobile -------------------------- */

@media only screen and (max-width: 480px) {

    .mtop-90 {
        margin-top: calc(@m-spacing - 20px);
    }

}