/* Spider Labs - Settings */
/* -------------------------- Color Palette (Primary) -------------------------- */
/* -------------------------- Color Palette (Secondary) -------------------------- */
/* -------------------------- Color Palette (Opacity Tints) -------------------------- */
/* -------------------------- Spacings and Margins -------------------------- */
/* -------------------------- Margin Top -------------------------- */
.mtop-120 {
  margin-top: 120px;
}
.mtop-90 {
  margin-top: 90px;
}
.mtop-60 {
  margin-top: 60px;
}
.mtop-30 {
  margin-top: 30px;
}
/* -------------------------- Margin Bottom -------------------------- */
.mbottom-120 {
  margin-bottom: 120px;
}
.mbottom-90 {
  margin-bottom: 90px;
}
.mbottom-60 {
  margin-bottom: 60px;
}
.mbottom-30 {
  margin-bottom: 30px;
}
/* -------------------------- Floats -------------------------- */
.f-left {
  float: left;
}
.f-right {
  float: right;
}
/* -------------------------- Background Colors -------------------------- */
body,
.card,
.header-site {
  background-color: #FFFFFF;
}
.clients,
.resources {
  background-color: #F4F0EB;
}
.badge,
.primary-btn {
  background-color: #00D4A4;
}
.primary-black-btn {
  background-color: #000000;
}
/* -------------------------- Text Colors -------------------------- */
.black,
.nav-item,
.intro-txt,
.nav-item a,
.heading-xs a,
.main-banner h1,
a.read-btn:hover {
  color: #000000;
}
.green,
a.read-btn,
.nav-item a:hover,
.heading-xs a:hover,
.main-banner h1 span {
  color: #00D4A4;
}
.gray {
  color: #444444;
}
.gray2,
.sub-header,
.textfield,
.helper-txt {
  color: #969696;
}
.badge {
  color: #FFFFFF;
}
/* -------------------------- Transitions & Effects -------------------------- */
input {
  transition: border 0.3s ease-out;
}
a.read-btn::after {
  transition: padding 0.15s ease-out;
}
input,
.primary-btn,
.primary-black-btn {
  transition: box-shadow 0.3s ease-out;
}
.nav-item a,
a.read-btn,
.heading-xs a {
  transition: color 0.15s ease-out;
}
input:hover,
input:focus,
.primary-btn:hover,
.primary-black-btn:hover {
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
}
/*
.spider-security {
    box-shadow: 0px 10px 42px rgba(0, 0, 0, 0.25);
}*/
