/* Spider Labs - Settings */

/* Color Palette - Primary */

@spider-green: #00D4A4;
@black: #000000;
@white: #FFFFFF;

/* Color Palette - Primary */

@pink: #B146C2;
@gray: #444444;
@gray2 : #969696;
@yellow: #FFD300;
@violet: #440099;
@light-gray: #F6F6F6;
@light-brown: #F4F0EB;

/* Spacings and Margins */

@xl-spacing: 120px;
@l-spacing: 90px;
@m-spacing: 60px;
@s-spacing: 30px;
@xs-spacing: 15px;

/* Floats */

.f-left {
    float: left;
}

.f-right {
    float: right;
}

/* Background Colors */

body,
.header-site {
    background-color: @white;
}

.clients {
    background-color: @light-brown;
}

.primary-btn {
    background-color: @spider-green;
}

/* Text Colors */

.nav-item,
.nav-item a,
.main-banner h1
{
    color: @black;
}

.nav-item a:hover,
.main-banner h1 span
{
    color: @spider-green;
}

.intro,
.textfield,
.helper-txt
{
    color: @gray2;
}

/* Transitions & Effects */

input {
    transition: border .3s ease-out;
}

input,
.primary-btn
{
    transition: box-shadow .3s ease-out;
}

.nav-item a {
    transition: color .15s ease-out;
}