/* Spider Labs - Settings */


/* -------------------------- Color Palette (Primary) -------------------------- */

@spider-green: #00D4A4;
@black: #000000;
@white: #FFFFFF;


/* -------------------------- Color Palette (Secondary) -------------------------- */

@pink: #B146C2;
@gray: #444444;
@gray2 : #969696;
@yellow: #FFD300;
@violet: #440099;
@light-gray: #F6F6F6;
@light-brown: #F4F0EB;
@red: #E74C3C;


/* -------------------------- Color Palette (Opacity Tints) -------------------------- */

@violet10: rgba(68,0,153,0.1);


/* -------------------------- Spacings and Margins -------------------------- */

@xl-spacing: 120px;
@l-spacing: 90px;
@m-spacing: 60px;
@s-spacing: 30px;
@xs-spacing: 15px;


/* -------------------------- Margin Top -------------------------- */

.mtop-120 {
    margin-top: @xl-spacing;
}

.mtop-90 {
    margin-top: @l-spacing;
}

.mtop-60 {
    margin-top: @m-spacing;
}

.mtop-30 {
    margin-top: @s-spacing;
}


/* -------------------------- Margin Bottom -------------------------- */

.mbottom-120 {
    margin-bottom: @xl-spacing;
}

.mbottom-90 {
    margin-bottom: @l-spacing;
}

.mbottom-60 {
    margin-bottom: @m-spacing;
}

.mbottom-30 {
    margin-bottom: @s-spacing;
}


/* -------------------------- Floats & Overflows -------------------------- */

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.ov-hidden {
    overflow: hidden;
}


/* -------------------------- Background Colors -------------------------- */

body,
.card,
.header-site {
    background-color: @white;
}

.clients,
.resources
{
    background-color: @light-brown;
}

.badge,
.primary-btn {
    background-color: @spider-green;
}

.primary-black-btn {
    background-color: @black;
}


/* -------------------------- Text Colors -------------------------- */

.black,
.nav-item,
.intro-txt,
.nav-item a,
ul.c-profile,
.heading-xs a,
.main-banner h1,
.about-us div h2
.resources div h2
a.read-btn:hover

{
    color: @black;
}

.green,
a.read-btn,
.nav-item a:hover,
.heading-xs a:hover,
.main-banner h1 span
{
    color: @spider-green;
}

.gray
{
    color: @gray;
}

.gray2,
.sub-header,
.textfield,
.helper-txt,
ul.c-profile li span
{
    color: @gray2;
}

.badge {
    color: @white;
}


/* -------------------------- Transitions & Effects -------------------------- */

input {
    transition: border .3s ease-out;
}

a.read-btn::after {
    transition: padding .15s ease-out;
}


input,
.primary-btn,
.primary-black-btn
{
    transition: box-shadow .3s ease-out;
}

.nav-item a,
a.read-btn,
.heading-xs a
{
    transition: color .15s ease-out;
}

input:hover,
input:focus,
.primary-btn:hover,
.primary-black-btn:hover
{
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
}

/*
.spider-security {
    box-shadow: 0px 10px 42px rgba(0, 0, 0, 0.25);
}*/