/* Spider Labs - Settings */
/* Color Palette - Primary */
/* Color Palette - Primary */
/* Spacings and Margins */
/* Floats */
.f-left {
  float: left;
}
.f-right {
  float: right;
}
/* Background Colors */
body,
.header-site {
  background-color: #FFFFFF;
}
.clients {
  background-color: #F4F0EB;
}
.primary-btn {
  background-color: #00D4A4;
}
/* Text Colors */
.nav-item,
.nav-item a,
.main-banner h1 {
  color: #000000;
}
.nav-item a:hover,
.main-banner h1 span {
  color: #00D4A4;
}
.intro,
.textfield,
.helper-txt {
  color: #969696;
}
/* Transitions & Effects */
input {
  transition: border 0.3s ease-out;
}
input,
.primary-btn {
  transition: box-shadow 0.3s ease-out;
}
.nav-item a {
  transition: color 0.15s ease-out;
}
