/* Spider Labs - Stylesheet */
/* -------------------------- Imports -------------------------- */
@import url("bootstrap-grid.css");
@import url("reset.css");
/* Spider Labs - Form Fields and Buttons */
/* -------------------------- Inputs -------------------------- */
#slabs-info input {
  width: 350px;
}
#security-info input {
  width: 320px;
}
input,
select {
  height: 50px;
}
input,
select,
textarea {
  box-sizing: border-box;
  border: 1px solid #969696;
  border-radius: 4px;
  padding: 15px;
}
input:hover,
select:hover,
textarea:hover {
  border: 1px solid #444444;
}
input:focus,
select:focus,
textarea:focus {
  border: 1px solid #000000;
  color: #000000;
}
input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
  outline-width: 0;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 15px;
  line-height: 50px;
}
select {
  padding-right: 15px;
  -webkit-appearance: none;
  background-position-x: 95%;
  background: url("../imgs/chevron.svg") no-repeat right;
}
/* -------------------------- Buttons & Links -------------------------- */
.primary-btn {
  height: 50px;
  color: white;
  padding: 0 20px 0 20px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  border: none;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  margin-left: 26px;
}
.primary-black-btn {
  height: 50px;
  padding: 0 20px 0 20px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  border: none;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  margin-left: 26px;
}
a.read-btn::after {
  content: url(../imgs/arrow.svg);
  padding-left: 8px;
}
a.read-btn:hover::after {
  content: url(../imgs/arrow_black.svg);
  padding-left: 14px;
}
a.outline-btn {
  padding: 0 20px 0 20px;
  border: 1px solid #00D4A4;
  border-radius: 8px;
  background-color: white;
  color: #00D4A4;
  height: 50px;
  line-height: 50px;
  display: table;
}
a.outline-btn::before {
  content: url(../imgs/chat_icon.svg);
  padding-right: 10px;
}
a.primary-black-btn {
  line-height: 50px;
  margin: 60px auto 0 auto;
}
.offices a.primary-black-btn {
  line-height: 50px;
}
.form-wrapper .primary-btn {
  width: 100%;
  margin-left: 0;
  margin-top: 30px;
}
/* -------------------------- Contact Form -------------------------- */
.field-wrapper input,
.field-wrapper select,
.field-wrapper textarea {
  width: 100%;
  margin-top: 5px;
}
.field-wrapper textarea {
  height: 104px;
  margin-top: 5px;
}
/* -------------------------- Media Query for Mobile -------------------------- */
@media only screen and (max-width: 480px) {
  #slabs-info input,
  #security-info input {
    width: 100%;
  }
  .primary-btn,
  #security-info .primary-black-btn {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
  }
  .lets-talk a.outline-btn {
    margin: 0 auto;
  }
}
/* Spider Labs - Headings & Text */
/* -------------------------- Archivo Google Font Import -------------------------- */
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Archivo Italic'), local('Archivo-Italic'), url(https://fonts.gstatic.com/s/archivo/v6/k3kSo8UDI-1M0wlSfdzYLGHB.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Archivo Medium Italic'), local('Archivo-MediumItalic'), url(https://fonts.gstatic.com/s/archivo/v6/k3kXo8UDI-1M0wlSfdzQ30LRLoKN.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Archivo SemiBold Italic'), local('Archivo-SemiBoldItalic'), url(https://fonts.gstatic.com/s/archivo/v6/k3kXo8UDI-1M0wlSfdzQ80XRLoKN.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Archivo Bold Italic'), local('Archivo-BoldItalic'), url(https://fonts.gstatic.com/s/archivo/v6/k3kXo8UDI-1M0wlSfdzQl0TRLoKN.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Archivo Regular'), local('Archivo-Regular'), url(https://fonts.gstatic.com/s/archivo/v6/k3kQo8UDI-1M0wlSfdnoKw.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Archivo Medium'), local('Archivo-Medium'), url(https://fonts.gstatic.com/s/archivo/v6/k3kVo8UDI-1M0wlSdSrLO0bhKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Archivo SemiBold'), local('Archivo-SemiBold'), url(https://fonts.gstatic.com/s/archivo/v6/k3kVo8UDI-1M0wlSdQbMO0bhKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Archivo Bold'), local('Archivo-Bold'), url(https://fonts.gstatic.com/s/archivo/v6/k3kVo8UDI-1M0wlSdWLNO0bhKQ.ttf) format('truetype');
}
/* -------------------------- PX to REM -------------------------- */
html,
body {
  font-family: 'Archivo', sans-serif !important;
  font-weight: 400;
  /* Regular */
  font-style: normal;
}
/* -------------------------- Headings & Titles -------------------------- */
.heading-xl {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 700;
  /* Bold */
  font-size: 52.5px;
  font-size: 5.25rem;
  line-height: 92px;
}
.heading-l {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 500;
  /* Medium */
  font-size: 26.5px;
  font-size: 2.65rem;
  line-height: 52px;
}
.heading-m {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 500;
  /* Medium */
  font-size: 20px;
  font-size: 2rem;
  line-height: 42px;
}
.heading-s {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 700;
  /* Bold */
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 42px;
}
.heading-xs,
.heading-xs a {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 12.5px;
  font-size: 1.25rem;
  line-height: 28px;
}
/* -------------------------- Body, Buttons and Links -------------------------- */
.sub-header {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 17.5px;
  font-size: 1.75rem;
  line-height: 52px;
}
.intro-txt {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 12.5px;
  font-size: 1.25rem;
  line-height: 32px;
}
.medium-txt {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 11.25px;
  font-size: 1.125rem;
  line-height: 32px;
}
select {
  line-height: 18px !important;
}
input,
select,
.footer,
textarea,
.body-txt,
input:hover,
input:focus,
input:enabled,
input:visited,
input::selection {
  font-family: 'Archivo', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 10px !important;
  font-size: 1rem !important;
  line-height: 28px;
}
.nav-item,
.nav-item a {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  font-size: 1rem;
}
.body-bold {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 700;
  /* Bold */
  font-size: 10px;
  font-size: 1rem;
  line-height: 28px;
}
.button-txt {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 700;
  /* Bold */
  font-size: 11.25px;
  font-size: 1.125rem;
}
label,
.badge,
.helper-txt {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 7.5px;
  font-size: 0.75rem;
  line-height: 18px;
  letter-spacing: 0.32px;
}
/* -------------------------- Text Alignment and Decoration -------------------------- */
::selection {
  background-color: #00D4A4;
  color: white;
}
.button,
.intro-p,
.offices h3,
.main-banner,
#slabs-info p,
.page-intro,
.c-values h2,
.footer-nav ul,
.clients div h2,
.about-us div h2,
.contacts div h2,
.resources div h2,
.footer-nav .credits,
.cv-banner div .txt-wrapper {
  text-align: center;
}
.textfield,
ul.c-profile,
.txt-block h2,
.perks-card h2,
.our-mission > h2,
.main-banner form {
  text-align: left !important;
}
a.outline-btn,
.heading-xs a,
.nav-item a,
a.read-btn,
.footer-nav ul li a:hover {
  text-decoration: none;
}
.badge {
  text-transform: uppercase;
}
/* Media Queries for Responsive */
/* -------------------------- Media Query for Mobile -------------------------- */
@media only screen and (max-width: 480px) {
  .heading-xl {
    font-size: 26.5px;
    font-size: 2.65rem;
    line-height: 52px;
  }
  .heading-l {
    font-size: 20px;
    font-size: 2rem;
    line-height: 42px;
  }
  .heading-m {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 32px;
  }
  .sub-header {
    font-size: 12.5px;
    font-size: 1.25rem;
    line-height: 32px;
  }
  ul.awards li h4,
  .intro-txt {
    font-size: 10px;
    font-size: 1rem;
    line-height: 32px;
  }
  .footer,
  .lang-wrapper {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 400;
    /* Regular */
    font-size: 8.75px !important;
    font-size: 0.875rem !important;
    line-height: 18px;
    letter-spacing: 0.32px;
  }
  .lets-talk,
  .about-us h3,
  .inner-office,
  .txt-block h2,
  ul.lang-nav li,
  .security-txt h2,
  .lang-container h5,
  .careers-banner div .txt-wrapper {
    text-align: center !important;
  }
}
/* Spider Labs - Settings */
/* -------------------------- Color Palette (Primary) -------------------------- */
/* -------------------------- Color Palette (Secondary) -------------------------- */
/* -------------------------- Color Palette (Opacity Tints) -------------------------- */
/* -------------------------- Spacings and Margins -------------------------- */
/* -------------------------- Margin Top -------------------------- */
.mtop-120 {
  margin-top: 120px;
}
.mtop-90 {
  margin-top: 90px;
}
.mtop-60 {
  margin-top: 60px;
}
.mtop-30 {
  margin-top: 30px !important;
}
/* -------------------------- Margin Bottom -------------------------- */
.mbottom-120 {
  margin-bottom: 120px;
}
.mbottom-90 {
  margin-bottom: 90px;
}
.mbottom-60 {
  margin-bottom: 60px;
}
.mbottom-30 {
  margin-bottom: 30px;
}
/* -------------------------- Margin Right -------------------------- */
.mright-120 {
  margin-right: 120px;
}
.mright-90 {
  margin-right: 90px;
}
.mright-60 {
  margin-right: 60px;
}
.mright-30 {
  margin-right: 30px;
}
/* -------------------------- Margin Left -------------------------- */
.mleft-120 {
  margin-left: 120px;
}
.mleft-90 {
  margin-left: 90px;
}
.mleft-60 {
  margin-left: 60px;
}
.mleft-30 {
  margin-left: 30px;
}
/* -------------------------- Floats & Overflows -------------------------- */
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.ov-hidden {
  overflow: hidden;
}
/* -------------------------- Background Colors -------------------------- */
body,
.card,
select,
.header-site {
  background-color: #FFFFFF;
}
.clients,
.form-box,
.resources,
.perks-card,
.office-card {
  background-color: #F4F0EB;
}
.badge,
.primary-btn {
  background-color: #00D4A4;
}
.primary-black-btn {
  background-color: #000000;
}
/* -------------------------- Text Colors -------------------------- */
.black,
.nav-item,
.intro-txt,
.nav-item a,
ul.c-profile,
.heading-xs a,
.main-banner h1,
.about-us div h2,
.resources div h2,
a.read-btn:hover {
  color: #000000;
}
.green,
a.read-btn,
.nav-item a:hover,
.heading-xs a:hover,
.main-banner h1 span,
ul.nav-item li.nav-selected {
  color: #00D4A4;
}
.gray,
.footer-nav ul li a:hover {
  color: #444444;
}
label,
.gray2,
select,
.sub-header,
.textfield,
.helper-txt,
input::placeholder,
textarea::placeholder,
ul.c-profile li span,
option:first-of-type {
  color: #969696;
}
.badge,
.page-intro,
.page-intro p,
ul.lang-nav,
.footer-nav ul li,
.lang-container h5,
.footer-nav ul li a,
.footer-nav .credits {
  color: #FFFFFF;
}
/* -------------------------- Transitions & Effects -------------------------- */
a.read-btn::after {
  transition: padding 0.15s ease-out;
}
input,
select,
textarea {
  transition: border 0.3s ease-out, color 0.3s ease-out, box-shadow 0.3s ease-out;
}
.card,
.primary-btn,
a.outline-btn,
.primary-black-btn {
  transition: box-shadow 0.3s ease-out;
}
.nav-item a,
a.read-btn,
.heading-xs a,
.footer-nav ul li a {
  transition: color 0.15s ease-out;
}
.card:hover,
input:focus,
select:focus,
textarea:focus,
.primary-btn:hover,
a.outline-btn:hover,
.primary-black-btn:hover {
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
}
/* -------------------------- Media Query for Mobile -------------------------- */
@media only screen and (max-width: 480px) {
  .mtop-90 {
    margin-top: calc(60px - 20px);
  }
}
/* -------------------------- Structure -------------------------- */
.header-site {
  height: 100px;
  padding-top: 30px;
}
.nav-wrapper {
  height: 36px;
}
/* -------------------------- Main Navigation --------------------------  */
.nav-container {
  height: 36px;
  line-height: 36px;
}
ul.nav-list {
  list-style: none;
  text-align: right;
}
ul.nav-list li:first-child {
  margin-left: 0;
}
ul.nav-list li {
  display: inline;
  margin-left: calc(60px - 20px);
}
.main_bg {
  background: url("../imgs/SpiderLabs_Home_BG.svg") no-repeat;
  background-position-y: 360px;
  background-size: 100%;
}
.main_bg > .banner-container {
  padding-bottom: 260px;
}
.main-banner {
  margin-top: 120px;
}
.main-banner p {
  margin-top: 30px;
}
.slabs-form-wrapper {
  padding: 0;
  width: 540px;
  margin: 60px auto 0 auto;
}
#slabs-info p {
  margin-top: calc(60px - 20px);
}
.clients {
  /*height: 577px;*/
  padding-bottom: 120px !important;
}
.clients .logos-list {
  margin-top: 60px;
}
.resources {
  padding-bottom: 90px !important;
}
.clients,
.resources {
  display: block;
  position: relative;
  padding: 15px;
  margin-top: calc(60px - 20px);
}
.clients::after,
.resources::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  height: 25px;
  background-image: url("../imgs/Triangles_BG.svg");
}
.clients div h2,
.resources div h2 {
  margin-top: 90px;
}
.security-txt {
  padding-left: 90px;
}
.security-banner {
  background-color: rgba(68, 0, 153, 0.1);
  border-radius: 8px;
  padding-top: 90px;
  padding-bottom: 90px;
}
.security-txt h2 {
  margin-bottom: 20px;
}
.security-img {
  width: 340px;
  height: 340px;
  margin-left: 10px;
}
.security-img img {
  width: 100%;
}
.text-container {
  width: 540px;
  margin-left: calc(120px - 20px);
  margin-right: 30px;
}
.img-container {
  width: 380px;
  height: 380px;
}
/* -------------------------- Mission Elements -------------------------- */
.txt-block {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.block-left-txt .txt-block {
  padding-right: 60px;
}
.block-right-txt .txt-block {
  padding-left: 60px;
}
.img-wrapper img {
  width: 100%;
  padding: 15px;
}
/* -------------------------- News & Resources - Cards -------------------------- */
.articles {
  margin-top: 60px;
}
.inner-card {
  padding: 0 30px;
}
.badge {
  height: 23px;
  line-height: 24px;
  border-radius: 43px;
  display: inline-block;
  padding: 0 calc(30px - 20px);
}
.card {
  border-radius: 8px;
  padding: 30px 0 30px 0;
}
/* -------------------------- About Us -------------------------- */
.img-mobile {
  display: none;
}
ul.c-profile {
  list-style: none;
}
ul.c-profile li {
  margin-bottom: 18px;
}
ul.awards {
  list-style: none;
  text-align: left;
}
ul.awards li:first-child {
  margin-left: 0;
}
ul.awards li {
  display: inline-block;
  margin-left: 64px;
}
ul.awards li h4 {
  margin-bottom: 20px;
}
ul.awards li img {
  width: auto;
  height: 106px;
}
.office-card {
  border-radius: 8px;
}
.cv-banner,
.careers-banner {
  background-color: rgba(0, 212, 165, 0.3);
  border-radius: 8px;
  padding-top: 90px;
  padding-bottom: 90px;
}
.inner-office {
  display: inline-block;
  padding: 60px;
}
.office-info h4 {
  margin-bottom: 10px;
}
.office-icon {
  width: 93px;
  height: 123px;
  float: left;
}
/* -------------------------- Work With Us - Banner -------------------------- */
.careers-banner div .txt-wrapper {
  padding-left: 90px;
  margin-right: 48px;
  margin-top: 48px;
}
.txt-wrapper h2 {
  margin-bottom: 20px;
}
.careers-img {
  width: 534px;
  height: 306px;
}
/* -------------------------- Contact Us -------------------------- */
.lets-talk p,
ul.schedule-info {
  margin-top: 15px;
}
ul.schedule-info {
  list-style: none;
}
.form-box {
  border-radius: 8px;
}
.form-wrapper {
  padding: 60px;
}
.form-wrapper h3 {
  margin-top: -20px;
}
.field-wrapper {
  margin-top: 15px;
}
/* -------------------------- Footer -------------------------- */
.footer {
  background-color: #000000;
  margin-top: 120px;
  padding: 90px 0 calc(120px + 40px) 0;
}
ul.social-nav {
  list-style: none;
  text-align: center;
}
ul.social-nav li {
  display: inline-block;
  margin-left: 30px;
}
ul.social-nav li:first-child {
  margin-left: 0;
}
.footer-nav {
  margin-top: 90px;
}
.footer-nav ul {
  list-style: none;
  margin-bottom: 30px;
}
.footer-nav ul li {
  display: inline-block;
}
.footer-nav ul li::after {
  content: "|";
  padding: 0 15px;
}
.footer-nav ul li:last-child::after {
  content: none;
}
.lang-container {
  margin-top: 90px;
  border-top: 1px solid #444444;
}
.lang-container .lang-wrapper {
  margin-top: 30px;
}
.lang-container h5 {
  float: left;
}
ul.lang-nav {
  list-style: none;
  float: right;
}
ul.lang-nav li {
  margin-left: 30px;
  display: inline-block;
}
ul.lang-nav li:first-child {
  margin-left: 0;
}
ul.lang-nav li img {
  margin-right: 10px;
}
/* -------------------------- Secondary Pages -------------------------- */
.sec-banner {
  display: flex;
  height: 50vw;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url('../imgs/SpiderLabs_Careers_BG.png');
}
.page-intro p {
  margin-top: 30px;
}
.perks-card {
  border-radius: 8px;
  padding: 50px;
  min-height: 216px;
}
.perks-card p {
  margin-top: 10px;
}
.perk-icon {
  padding: 0;
  text-align: center;
  margin-right: 30px;
}
/* Media Queries for Responsive */
/* -------------------------- Media Query for Macbook Pro and Retina displays -------------------------- */
@media only screen and (max-device-width: 1600px) {
  .main_bg {
    background: url("../imgs/SpiderLabs_Home_BG.svg") no-repeat;
    background-position-y: 360px;
    background-size: 100%;
  }
  .main_bg > .banner-container {
    padding-bottom: 120px;
  }
}
/* -------------------------- Media Query for Mobile -------------------------- */
@media only screen and (max-width: 480px) {
  .main_bg {
    background: none;
  }
  .main_bg > .banner-container {
    padding-bottom: 60px;
  }
  .main-banner {
    margin-top: 60px;
  }
  .main-banner p {
    margin-top: 15px;
  }
  .slabs-form-wrapper {
    width: 100%;
    margin: calc(60px - 20px) auto 0 auto;
  }
  .clients::after,
  .resources::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 20px;
    background-image: url("../imgs/Triangles_Mobile_BG.svg");
  }
  .clients {
    padding-bottom: 30px !important;
  }
  .clients .logos-list {
    margin-top: 30px;
  }
  .block-right-txt {
    margin-bottom: 60px !important;
  }
  .block-left-txt .txt-block,
  .block-right-txt .txt-block {
    padding-left: 30px;
    padding-right: 30px;
  }
  .img-wrapper {
    padding: 30px !important;
  }
  .img-mobile {
    display: initial;
  }
  .no-show {
    display: none;
  }
  .clients div h2,
  .resources div h2 {
    margin-top: 60px;
  }
  .articles {
    margin-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }
  .card {
    margin-bottom: 30px;
  }
  .articles .primary-black-btn {
    margin-top: 30px;
  }
  ul.awards {
    list-style: none;
    text-align: left;
  }
  ul.awards li:first-child {
    margin-left: 0;
  }
  ul.awards li {
    display: inline-block;
    margin-left: 30px;
  }
  ul.awards li img {
    width: auto;
    height: 80px;
  }
  .offices {
    padding-left: 15px;
    padding-right: 15px;
  }
  .offices-list {
    margin-top: 30px;
  }
  .office-info {
    float: none !important;
    margin-left: 0 !important;
  }
  .inner-office {
    display: block;
    padding: 54px;
  }
  #tokyo {
    margin-bottom: 30px;
  }
  .office-icon {
    float: none;
    margin: 0 auto 15px auto;
  }
  .cv-banner,
  .careers-banner,
  .security-banner {
    padding: 60px 0 60px 0;
  }
  .security-txt,
  .careers-banner div .txt-wrapper {
    padding: 0 60px 0 60px;
    margin: 0;
  }
  .img-mobile {
    display: initial;
  }
  .no-show,
  .careers-img,
  .security-img,
  .nav-container {
    display: none;
  }
  .lets-talk {
    margin-top: 0 !important;
    margin-bottom: 60px;
  }
  .lets-talk {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .form-wrapper {
    padding: 60px 30px;
  }
  .footer {
    margin-top: 60px;
    padding: 90px 0 90px 0;
  }
  .footer-nav,
  .footer-nav .credits {
    margin-top: 60px;
  }
  .footer-nav ul {
    list-style: none;
    margin-bottom: 30px;
  }
  .footer-nav ul li {
    margin-top: 15px;
    display: block;
  }
  .footer-nav ul li:first-child {
    margin-top: 0;
  }
  .footer-nav ul li::after {
    content: none;
    padding: 0;
  }
  .lang-container {
    margin-top: 60px;
  }
  .lang-container h5 {
    float: none;
  }
  .lang-container .lang-wrapper {
    margin-top: 60px;
  }
  ul.lang-nav {
    list-style: none;
    float: none;
  }
  ul.lang-nav li {
    display: block;
    margin-left: 0;
    margin-top: 30px;
  }
  ul.lang-nav li:first-child {
    margin-left: 0;
  }
  ul.lang-nav li img {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 360px) {
  ul.awards li img {
    width: auto;
    height: 62px;
  }
}
