/* Spider Labs - Stylesheet */

/* -------------------------- Imports -------------------------- */

@import url("reset.css");
@import url("forms.less");
@import url("fonts.less");
@import url("settings.less");
@import url("bootstrap-grid.css");


/* -------------------------- Structure -------------------------- */

.header-site {
    height: 100px;
    padding-top: @s-spacing;
}

.nav-wrapper {
    height: 36px;
}


/* -------------------------- Main Navigation --------------------------  */

.nav-container {
    height: 36px;
    line-height: 36px;
}

ul.nav-list {
    list-style: none;
    text-align: right;
}

ul.nav-list li:first-child {
    margin-left: 0;
}

ul.nav-list li {
    display: inline;
    margin-left: calc(@m-spacing - 20px);
}


.main_bg {
    background: url("../imgs/SpiderLabs_Home_BG.svg") no-repeat;
    background-position-y: 360px;
    background-size: 100%;
}

.main_bg > .banner-container {
    padding-bottom: 260px;
}

.main-banner {
    margin-top: @xl-spacing;
}

.main-banner p {
    margin-top: @s-spacing;
}

.slabs-form-wrapper {
    padding: 0;
    width: 540px;
    margin: @m-spacing auto 0 auto;
}

#slabs-info p {
    margin-top: calc(@s-spacing - 10px);
    padding-left: 0;
}

.clients
{
    height: 577px;
}

.resources {
    padding-bottom: @l-spacing !important;
}

.clients,
.resources
{
    display: block;
    position: relative;
    padding: @xs-spacing;
    margin-top: calc(@m-spacing - 20px);
}

.clients::after,
.resources::after
{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 25px;
    background-image: url("../imgs/Triangles_BG.svg");
}

.clients div h2,
.resources div h2
{
    margin-top: @l-spacing;
}

.spider-security {
    background-color: @violet10;
    overflow: hidden;
    padding: @l-spacing 0;
    border-radius: 8px;
}

.text-container {
    width: 540px;
    margin-left: calc(@xl-spacing - 20px);
    margin-right: @s-spacing;
}

.img-container {
    width: 380px;
    height: 380px;
}


/* -------------------------- Mission Elements -------------------------- */

.txt-left {
    margin-top: calc(@xl-spacing - 10px);
    padding-right: calc(@m-spacing + 10px);
}

.txt-right {
    margin-top: 82px;
    margin-bottom: calc(@xl-spacing + 40px);
    padding-left: calc(@m-spacing + 10px);
}

.img-height {
    height: 540px;
}


/* -------------------------- News & Resources - Cards -------------------------- */

.articles {
    margin-top: @m-spacing;
}

.inner-card {
    padding: 0 @s-spacing;
}

.badge {
    height: 23px;
    line-height: 24px;
    border-radius: 43px;
    display: inline-block;
    padding: 0 calc(@s-spacing - 20px);
}

.card {
    border-radius: 8px;
    padding: @s-spacing 0 @s-spacing 0;
}


/* About Us */

ul.c-profile {
    list-style: none;
}

ul.c-profile li {
    margin-bottom: 18px;
}

ul.awards {
    list-style: none;
    text-align: left;
}

ul.awards li:first-child {
    margin-left: 0;
}

ul.awards li {
    display: inline-block;
    margin-left: 80px;
}

ul.awards li h4 {
    margin-bottom: 20px;
}

.office-card {
    border-radius: 8px;
}



/* Media Queries for Responsive */

/* -------------------------- Media Query for Macbook Pro and Retina displays -------------------------- */

@media only screen and (max-device-width: 1600px) {

    .main_bg {
        background: url("../imgs/SpiderLabs_Home_BG.svg") no-repeat;
        background-position-y: 360px;
        background-size: 100%;
    }

    .main_bg > .banner-container {
        padding-bottom: @xl-spacing;
    }
    
}

