/* Spider Labs - Stylesheet */

/* Imports */

@import url("reset.css");
@import url("forms.less");
@import url("fonts.less");
@import url("colors.less");
@import url("bootstrap-grid.css");

/* Structure */

.header-site {
    height: 100px;
}

.main_bg {
    background: url("../imgs/SpiderLabs_Home_BG.svg") no-repeat;
    background-position-y: 360px;
    background-size: 100%;
}

@media only screen and (max-device-width: 1600px) {

    .main_bg {
        background: url("../imgs/SpiderLabs_Home_BG.svg") no-repeat;
        background-position-y: 460px;
        background-size: 100%;
    }

}

.main-banner {
    margin-top: @xl-spacing;
}

.main-banner p {
    margin-top: @m-spacing;
}

.clients {
    height: 577px;
}