/* Spider Labs - Stylesheet */

/* Imports */

@import url("bootstrap-grid.css");
@import url("colors.less");
@import url("fonts.less");
@import url("reset.css");

/* Structure */

body {
    background-color: @white;
}

.header-site {
    background-color: @white;
    height: 100px;
}

.main-banner {
    background-color: @white;
    margin-top: @xl-spacing;
}

.slogan {
    margin-top: @m-spacing;
}