/* Spider Labs - Stylesheet */
/* Imports */
@import url("bootstrap-grid.css");
/* Spider Labs - Color Palette */
/* Primary */
/* Secondary */
/* Settings */
/* Spider Labs - Headings & Text */
/* Archivo Google Font Import */
@import url("reset.css");
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Archivo Italic'), local('Archivo-Italic'), url(https://fonts.gstatic.com/s/archivo/v6/k3kSo8UDI-1M0wlSfdzYLGHB.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Archivo Medium Italic'), local('Archivo-MediumItalic'), url(https://fonts.gstatic.com/s/archivo/v6/k3kXo8UDI-1M0wlSfdzQ30LRLoKN.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Archivo SemiBold Italic'), local('Archivo-SemiBoldItalic'), url(https://fonts.gstatic.com/s/archivo/v6/k3kXo8UDI-1M0wlSfdzQ80XRLoKN.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Archivo Bold Italic'), local('Archivo-BoldItalic'), url(https://fonts.gstatic.com/s/archivo/v6/k3kXo8UDI-1M0wlSfdzQl0TRLoKN.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Archivo Regular'), local('Archivo-Regular'), url(https://fonts.gstatic.com/s/archivo/v6/k3kQo8UDI-1M0wlSfdnoKw.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Archivo Medium'), local('Archivo-Medium'), url(https://fonts.gstatic.com/s/archivo/v6/k3kVo8UDI-1M0wlSdSrLO0bhKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Archivo SemiBold'), local('Archivo-SemiBold'), url(https://fonts.gstatic.com/s/archivo/v6/k3kVo8UDI-1M0wlSdQbMO0bhKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Archivo Bold'), local('Archivo-Bold'), url(https://fonts.gstatic.com/s/archivo/v6/k3kVo8UDI-1M0wlSdWLNO0bhKQ.ttf) format('truetype');
}
/* Body & HTML */
/* Headings & Titles */
.heading-xl {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 700;
  /* Bold */
  font-size: 52.5px;
  font-size: 5.25rem;
  line-height: 92px;
}
.heading-l {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 500;
  /* Medium */
  font-size: 26.5px;
  font-size: 2.65rem;
  line-height: 52px;
}
.heading-m {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 500;
  /* Medium */
  font-size: 20px;
  font-size: 2rem;
  line-height: 42px;
}
.heading-s {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 500;
  /* Medium */
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 42px;
}
.heading-xs {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 12.5px;
  font-size: 1.25rem;
  line-height: 28px;
}
/* Headings & Titles */
.body {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 10px;
  font-size: 1rem;
  line-height: 28px;
}
.body-bold {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 10px;
  font-size: 1rem;
  line-height: 28px;
}
/* Structure */
body {
  background-color: #FFFFFF;
}
.header-site {
  background-color: white;
  height: 100px;
}
.main-banner {
  background-color: #00D4A4;
  text-align: center;
  margin-top: 120px;
}
