/* Spider Labs - Stylesheet */
/* Imports */
@import url("reset.css");
/* Spider Labs - Form Fields and Buttons */
/* Inputs */
@import url("bootstrap-grid.css");
#slabs-info input {
  width: 350px;
}
input {
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #969696;
  border-radius: 8px;
  padding: 15px;
}
input:focus {
  border: 1px solid #444444;
  color: #444444;
}
input:focus,
input:hover {
  outline-width: 0;
}
/* Buttons */
.primary-btn {
  height: 50px;
  color: white;
  padding: 0 20px 0 20px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  border: none;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  margin-left: 26px;
}
.primary-black-btn {
  height: 50px;
  padding: 0 20px 0 20px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  border: none;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  margin-left: 26px;
}
/* Spider Labs - Headings & Text */
/* Archivo Google Font Import */
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Archivo Italic'), local('Archivo-Italic'), url(https://fonts.gstatic.com/s/archivo/v6/k3kSo8UDI-1M0wlSfdzYLGHB.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Archivo Medium Italic'), local('Archivo-MediumItalic'), url(https://fonts.gstatic.com/s/archivo/v6/k3kXo8UDI-1M0wlSfdzQ30LRLoKN.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Archivo SemiBold Italic'), local('Archivo-SemiBoldItalic'), url(https://fonts.gstatic.com/s/archivo/v6/k3kXo8UDI-1M0wlSfdzQ80XRLoKN.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Archivo Bold Italic'), local('Archivo-BoldItalic'), url(https://fonts.gstatic.com/s/archivo/v6/k3kXo8UDI-1M0wlSfdzQl0TRLoKN.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Archivo Regular'), local('Archivo-Regular'), url(https://fonts.gstatic.com/s/archivo/v6/k3kQo8UDI-1M0wlSfdnoKw.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Archivo Medium'), local('Archivo-Medium'), url(https://fonts.gstatic.com/s/archivo/v6/k3kVo8UDI-1M0wlSdSrLO0bhKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Archivo SemiBold'), local('Archivo-SemiBold'), url(https://fonts.gstatic.com/s/archivo/v6/k3kVo8UDI-1M0wlSdQbMO0bhKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Archivo Bold'), local('Archivo-Bold'), url(https://fonts.gstatic.com/s/archivo/v6/k3kVo8UDI-1M0wlSdWLNO0bhKQ.ttf) format('truetype');
}
/* PX to REM */
html,
body {
  font-family: 'Archivo', sans-serif !important;
  font-weight: 400;
  /* Regular */
  font-style: normal;
}
/* Headings & Titles */
.heading-xl {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 700;
  /* Bold */
  font-size: 52.5px;
  font-size: 5.25rem;
  line-height: 92px;
}
.heading-l {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 500;
  /* Medium */
  font-size: 26.5px;
  font-size: 2.65rem;
  line-height: 52px;
}
.heading-m {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 500;
  /* Medium */
  font-size: 20px;
  font-size: 2rem;
  line-height: 42px;
}
.heading-s {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 500;
  /* Medium */
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 42px;
}
.heading-xs {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 12.5px;
  font-size: 1.25rem;
  line-height: 28px;
}
/* Body, Buttons and Links */
.sub-header {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 17.5px;
  font-size: 1.75rem;
  line-height: 52px;
}
.intro-txt {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 12.5px;
  font-size: 1.25rem;
  line-height: 32px;
}
input,
input:hover,
input:focus,
input:enabled,
input:visited,
input::selection,
.body-txt {
  font-family: 'Archivo', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 10px !important;
  font-size: 1rem !important;
  line-height: 28px;
}
.nav-item,
.nav-item a {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.body-bold {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 10px;
  font-size: 1rem;
  line-height: 28px;
}
.button-txt {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 700;
  /* Bold */
  font-size: 11.25px;
  font-size: 1.125rem;
}
.helper-txt {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  font-size: 7.5px;
  font-size: 0.75rem;
  line-height: 18px;
  letter-spacing: 0.32px;
}
/* Text Alignment and Decoration */
.main-banner,
.clients div h2,
.button {
  text-align: center;
}
.textfield,
.helper-txt,
.main-banner form {
  text-align: left;
}
.nav-item a {
  text-decoration: none;
}
/* Spider Labs - Settings */
/* Color Palette - Primary */
/* Color Palette - Primary */
/* Color Palette - Opacity Tints */
/* Spacings and Margins */
/* Floats */
.f-left {
  float: left;
}
.f-right {
  float: right;
}
/* Background Colors */
body,
.header-site {
  background-color: #FFFFFF;
}
.clients {
  background-color: #F4F0EB;
}
.primary-btn {
  background-color: #00D4A4;
}
.primary-black-btn {
  background-color: #000000;
}
/* Text Colors */
.nav-item,
.intro-txt,
.nav-item a,
.main-banner h1 {
  color: #000000;
}
.green,
.nav-item a:hover,
.main-banner h1 span {
  color: #00D4A4;
}
.gray {
  color: #444444;
}
.gray2,
.sub-header,
.textfield,
.helper-txt {
  color: #969696;
}
/* Transitions & Effects */
input {
  transition: border 0.3s ease-out;
}
input,
.primary-btn,
.primary-black-btn {
  transition: box-shadow 0.3s ease-out;
}
.nav-item a {
  transition: color 0.15s ease-out;
}
input:hover,
input:focus,
.primary-btn:hover,
.primary-black-btn:hover {
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
}
/*
.spider-security {
    box-shadow: 0px 10px 42px rgba(0, 0, 0, 0.25);
}*/
/* Structure */
.header-site {
  height: 100px;
  padding-top: 30px;
}
.nav-wrapper {
  height: 36px;
}
/* Main Navigation */
.nav-container {
  height: 36px;
  line-height: 36px;
}
ul.nav-list {
  list-style: none;
  text-align: right;
}
ul.nav-list li:first-child {
  margin-left: 0;
}
ul.nav-list li {
  display: inline;
  margin-left: calc(60px - 20px);
}
.main_bg {
  background: url("../imgs/SpiderLabs_Home_BG.svg") no-repeat;
  background-position-y: 360px;
  background-size: 100%;
}
.main_bg > div {
  padding-bottom: 260px;
}
/* Media Query for Macbook Pro and Retina displays */
@media only screen and (max-device-width: 1600px) {
  .main_bg {
    background: url("../imgs/SpiderLabs_Home_BG.svg") no-repeat;
    background-position-y: 360px;
    background-size: 100%;
  }
  .main_bg > div {
    padding-bottom: 120px;
  }
}
.main-banner {
  margin-top: 120px;
}
.main-banner p {
  margin-top: 30px;
}
.slabs-form-wrapper {
  padding: 0;
  width: 540px;
  margin: 60px auto 0 auto;
}
#slabs-info p {
  margin-top: calc(30px - 10px);
  padding-left: 0;
}
.clients {
  height: 577px;
  display: block;
  position: relative;
  padding: 15px;
  margin-top: calc(60px - 20px);
}
.clients::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  height: 25px;
  background-image: url("../imgs/Triangles_BG.svg");
}
.clients div h2 {
  margin-top: 90px;
}
.spider-security {
  background-color: rgba(68, 0, 153, 0.1);
}
